{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Création d'un ingrédient</h1>

		{{ form_start(form) }}
		<div class="form-error">
			{{ form_errors(form) }}
		</div>

		<div class="form-group">
        {{form_label(form.name)}}
        {{from_w}}
			<div class="col">
				{{ form_row(form.name) }}
			</div>
			<div class="col" id="some-custom-id">
				{{ form_row(form.price) }}
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
